<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Students</title>
    <link rel="stylesheet" th:href="@{bootstrap.css}" href="../static/bootstrap.css"/>
</head>
<body>
    <h3>Unordered List</h3>
    <ul>
        <li th:each="student : ${students}"
            th:text="${student.studentName}">Imran Khan</li>
    </ul>

    <table class="table table bordered table-hover">
        <tr>
            <th>Student Id:</th>
            <th>Student Name: </th>
            <th>Cgpa: </th>
        </tr>
        <tr th:each="student : ${students}">
            <td><a th:href="${'student/' + student.studentId}" th:text="${student.studentId}">4</a></td>
            <td th:text="${student.studentName}">Anjuman Mufidul</td>
            <td th:text="${student.cgpa}">4.00</td>
        </tr>
    </table>
</body>
</html>